DIRECTUS_VERSION=12.3.1

POSTGRES_DB=greatinco_cms
POSTGRES_USER=greatinco_cms
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD

DIRECTUS_SECRET=CHANGE_ME_LONG_RANDOM_SECRET

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=CHANGE_ME_STRONG_ADMIN_PASSWORD

PUBLIC_URL=http://localhost:8055
